<html class="border-b-2 border-bleu-800">
    <title>Footer page</title>
    <body class="flex grid grid-cols-12 grid-rows-2">
        <div class="row-span-2 col-span-2">
            <div class="row-span-1">
                <div class="col-span-1">
                    <p class="text-center">valentin.bancel&#64;orange.fr</p>
                </div>
            </div>
            <div class="row-span-1">
                <div class="col-span-1">
                    <p class="text-center">06 25 33 76 16</p>
                </div>
            </div>
        </div>
    </body>
</html>