<!DOCTYPE html>
<html lang="fr" class="html_page">
    <head>
        <title>À propos de moi | Valentin Bancel - Créateur engagé</title>
        <base href="/home">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="manifest" href="manifest.webmanifest">
        <meta name="theme-color" content="#1976d2">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Apprenez à me connaître ! Je suis Valentin Bancel, un créateur passionné par l'innovation et l'impact positif. Découvrez mon parcours, mes valeurs et mes motivations. Rejoignez-moi dans ma mission pour un monde meilleur. Cliquez ici pour en savoir plus !">
    </head>
<body>
    <app-header></app-header>
    <div>
        <app-component-about-me [history]="histroy"></app-component-about-me>
    </div>
    <app-footer></app-footer>
</body>
</html>

