<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="bg-[#2D364B] flex flex-col justify-between text-[#E7DFDA] max-w-md m-4 rounded-lg sm:max-w-xl sm:grid">
        <div class="flex text-center rounded overflow-hidden shadow-lg mx-auto">
            <h1 class="text-2xl">{{achievement.title}}</h1>
            <img alt="achievement_screen" src="{{achievement.image}}"/>
        </div>
    </body>
</html>