<!-- Mobile version -->
<div class="flex sm:hidden grid-cols-5 gap-y-10 border-b-2 border-[#363F59] bg-[#171B26]">
  <div>
    <a routerLink="/" class="block">
      <img class="m-2 w-auto h-14" src="../../../assets/logo_phoenix.webp" alt="logo" />
    </a>
  </div>
  <nav class="flex flex-1 justify-around items-center">
    @for (item of navItems; track item.path) {
      <a
        [routerLink]="item.path"
        routerLinkActive="bg-[#0266A8]"
        class="text-[#E7DFDA] hover:text-[#0288E0] rounded-full px-3 py-2 font-HelveticaNeue transition-colors"
      >
        {{ item.label }}
      </a>
    }
  </nav>
</div>

<!-- Desktop version -->
<div class="hidden sm:flex sm:items-center border-b-2 border-[#363F59] bg-[#171B26]">
  <div>
    <a routerLink="/" class="block">
      <img class="m-2 w-auto h-14" src="../../../assets/logo_phoenix.webp" alt="logo" />
    </a>
  </div>
  <nav class="flex flex-1 justify-end items-center space-x-4 mr-[2%]">
    @for (item of navItems; track item.path) {
      <a
        [routerLink]="item.path"
        routerLinkActive="bg-[#0266A8]"
        class="text-[#E7DFDA] hover:text-[#0288E0] rounded-full px-3 py-2 font-HelveticaNeue transition-colors"
      >
        {{ item.label }}
      </a>
    }
  </nav>
</div>