<html class="nav-container border-t-2 border-bleu-800 pt-[1%] pb-[1%]">
    <title>Footer page</title>
    <body>
        <div class="flex grid grid-cols-12 grid-rows-3 items-center">
            <div class="flex flex-wrap justify-center row-span-3 col-span-2">
                <div class="flex row-span-1">
                    <div class="flex col-span-1">
                        <p class="text-center">valentin.bancel&#64;orange.fr</p>
                    </div>
                </div>
                <div class="flex row-span-1">
                    <p class="text-center">06 25 33 76 16</p>
                </div>
            </div>
            <div class="flex justify-center row-span-3 col-span-7">
                <div class="flex row-span-1">
                    <div class="flex col-span-1">
                        <p class="text-center col-start-4"> © 2023 - Portfolio - Valentin Bancel</p>
                    </div>
                </div>
            </div>
            <div class="flex row-span-3 col-span-3 col-start-10 logo-container">
                <a href="#" class="mr-[5%]">
                    <img src="../../assets/rsz_github-mark-white.png" alt="logo" class="github_logo"/>
                </a>
                <a href="#" class="mr-[5%]">
                    <img src="../../assets/rsz_logo_malt2.png" alt="logo" class="malt_logo"/>
                </a>
                <a href="#" class="mr-[5%]">
                    <img src="../../assets/rsz_li-in-bug3.png" alt="logo" class="linkedin_logo bg-white"/>
                </a>
            </div>
        </div>
    </body>
</html>