@import '../../../variable.scss';

html {
    background-color: $background;
}

body {
    background-color: $background;
    color: $text;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* or any other width you prefer */
    height: auto;
    border-radius: 15%;
    overflow: hidden; /* This is to ensure the border-radius is applied correctly */
}

.linkedin_logo, .github_logo, .malt_logo {
    width: 100%;
    height: auto;
}