<html class="nav-container">
    <title>Footer page</title>
    <body class="border-t-2 border-[#363F59] sm:py-3">
        <div class="text-center w-full sm:grid sm:grid-cols-3 sm:grid-rows-1">
            <div class="flex items-center justify-center sm:justify-start grid grid-rows-2 sm:ml-4">
                <div class="">
                    <p class="row-start-1">valentin.bancel&#64;orange.fr</p>
                </div>
                <div class="">
                    <p class="row-start-2">06 25 33 76 16</p>
                </div>
            </div>
            <div class="sm:flex sm:items-center sm:justify-center">
                <div class="sm:items-center">
                    <p class=""> © 2023 - Portfolio - Valentin Bancel</p>
                </div>
            </div>
            <div class="flex items-center justify-center sm:justify-end sm:items-center sm:mr-[3%]">
                <a href="#" class="">
                    <img src="../../assets/rsz_github-mark-white.webp" alt="logo" class="ml-auto"/>
                </a>
                <a href="#" class="">
                    <img src="../../assets/rsz_logo_malt2.webp" alt="logo" class="ml-4"/>
                </a>
                <a href="#" class="">
                    <img src="../../assets/rsz_li-in-bug3.webp" alt="logo" class="ml-4"/>
                </a>
            </div>
        </div>
    </body>
</html>