<div class="text-[#E7DFDA] bg-[#171B26] border-t-2 border-[#363F59] py-3">
    <div class="text-center w-full sm:grid sm:grid-cols-3 sm:grid-rows-1">
        <div class="flex items-center justify-center sm:justify-start grid grid-rows-1 sm:ml-4">
            <div class="pt-3">
                <p class="row-start-1">contact&#64;valentin-bancel.comr</p>
            </div>
        </div>
        <div class="sm:flex sm:items-center sm:justify-center">
            <div class="sm:items-center">
                <p class=""> © 2025 - Portfolio - Valentin Bancel</p>
            </div>
        </div>
        <div class="flex items-center justify-center sm:justify-end sm:items-center sm:mr-[3%] pt-3">
            <a href="https://github.com/ValentinBancel" class="">
                <img src="../../assets/site/rsz_github-mark-white.webp" alt="logo" class="ml-auto"/>
            </a>
            <a href="https://www.malt.fr/profile/valentinbancel" class="">
                <img src="../../assets/site/rsz_logo_malt2.webp" alt="logo" class="ml-4"/>
            </a>
            <a href="https://www.linkedin.com/in/valentin-bancel-12b51716a/" class="">
                <img src="../../assets/site/rsz_li-in-bug3.webp" alt="logo" class="ml-4"/>
            </a>
        </div>
    </div>
</div>