<!DOCTYPE html>
<html lang="fr" class="html_page">
<head>
    <title>Découvrez mes projets innovants | Valentin Bancel</title>
    <base href="/home">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="manifest" href="manifest.webmanifest">
    <meta name="theme-color" content="#1976d2">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explorez mes projets créatifs et innovants qui repoussent les limites. Découvrez comment je donne vie à mes idées pour un avenir meilleur. Cliquez ici pour en savoir plus !">
</head>
<app-header></app-header>
<body class="h-[70%] sm:h-[85%]">
    <div class="h-full">
        <app-component-project-card [projectsListe]="ProjectList"></app-component-project-card>
    </div>
</body>
<app-footer></app-footer>
</html>
