<div class="bg-[#171B26] flex flex-col justify-between min-h-screen font-manroperegular bg-[#171B26] text-[#E7DFDA] h-screen">
    <!-- <app-header></app-header> -->
    <div class="sm:grid sm:grid-cols-2 sm:flex sm:justify-center flex-grow">
        <div class="grid flex sm:grid-rows-6 justify-center items-center w-full">
            <h1 class="text-4xl sm:text-8xl sm:row-start-2 text-center sm:mb-0">Valentin Bancel</h1>
            <h2 class="text-2xl sm:text-6xl text-center sm:row-start-3 sm:mb-0">Full stack developper</h2>
            <h2 class="text-lg sm:text-2xl sm:row-start-4 px-4 pt-4 sm:pt-0 sm:text-center text-justify sm:mb-0">J'ai commencé à apprendre la programmation en 2018. J'ai rejoint l'école Epitech en 2021 et je l'ai quitter fin janvier 2024. Durant cette période j'ai appris les bases de l'intelligence artificielle et je rejoins l'école Ynov Campus afin d'approfondir mes connaissances.</h2>
        </div>
        <div class="flex justify-center items-center my-5">
            <img src="../../assets/me_crop.webp" alt="Valentin Bancel" class="rounded-[50%] w-auto h-96">
        </div>
    </div>
    <!-- <app-footer></app-footer> -->
</div>