<!DOCTYPE html>
<html lang="fr" class="html_page font-sans">
    <head>
        <title>Accueil | Valentin Bancel - Passionné par l'innovation</title>
        <base href="/home">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="manifest" href="manifest.webmanifest">
        <meta name="theme-color" content="#1976d2">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Bienvenue sur mon site ! Découvrez mon univers passionnant dédié à l'innovation et à la créativité. Explorez mes projets, mon parcours et mes aspirations. Rejoignez-moi dans cette aventure inspirante dès maintenant !">
    </head>
    <app-header></app-header>
    <body class="text-[#E7DFDA] mt-10 sm:my-[10%]">
        <div class="sm:grid sm:grid-cols-2">
            <div class="grid sm:grid-rows-2 flex justify-center items-center w-full">
                <h1 class="text-4xl text-center sm:mb-0">Valentin Bancel</h1>
                <h1 class="flex job_name text-2xl sm:mt-0">Full stack developper</h1>
            </div>
            <div class="flex justify-center items-center my-5">
                <img src="../../assets/me_crop.webp" alt="Valentin Bancel" class="picture w-auto h-96">
            </div>
        </div>
    </body>
    <app-footer></app-footer>
</html>