<div class="font-manroperegular bg-[#171B26] text-[#E7DFDA] h-screen">
    <div class="bg-[#171B26] flex flex-col justify-between min-h-screen">
        <app-header></app-header>
        <div class="sm:grid sm:grid-cols-2 sm:flex sm:justify-center flex-grow">
            <div class="grid flex sm:grid-rows-6 justify-center items-center w-full">
                <h1 class="text-4xl sm:text-8xl sm:row-start-2 text-center sm:mb-0">Valentin Bancel</h1>
                <h2 class="text-2xl sm:text-6xl text-center sm:row-start-3 sm:mb-0">Full stack developper</h2>
                <h3 class="text-lg sm:text-6xl text-center sm:row-start-4 sm:mb-0">Data Scientist | Data Analyst</h3>
                <h2 class="text-lg sm:text-2xl sm:row-start-5 px-4 pt-4 sm:pt-0 sm:text-center text-justify sm:mb-0">Développeur full-stack et passionné de data, j’explore depuis 2018 les liens entre le code, l’intelligence artificielle et la prise de décision. Après avoir étudié à Epitech, j’ai choisi Lyon Ynov Campus pour me spécialiser en IA et data science.
Mon approche repose sur une conviction simple : les données racontent une histoire — mon rôle est de leur donner une voix à travers des applications intelligentes, performantes et utiles.</h2>
            </div>
            <div class="flex justify-center items-center my-5">
                <img src="../../assets/me_crop.webp" alt="Valentin Bancel" class="rounded-[50%] w-auto h-96">
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>