<!DOCTYPE html>
<html lang="fr" class="font-manroperegular text-[#E7DFDA] h-screen">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="Visualiser tous mes diplomes obtenu.">
    <title>My Archievement</title>
</head>
<body class="min-h-screen bg-[#171B26] flex flex-col justify-between">
    <app-header></app-header>
    <div class="flex flex-wrap justify-center">
        <div *ngFor="let achievement of achievementList">
            <app-achievement [achievement]="achievement"></app-achievement>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>